@import 'colors';

body {
  padding: 0;
  margin: 0;
  background-color: $background;
  color: $text;
}

a {
  color: $text;
}

.wrapper {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spiral {
  position: fixed;
  backface-visibility: hidden;
  transition: 300ms ease-out;
}

.section {
  position: absolute;
  left: -100%;
  box-sizing: border-box;
  transition: .2s border ease-out;
  border: 2px solid $background;
  backface-visibility: hidden;
}

.section:hover {
  border-radius: 5%;
  border: 10px solid $background;
}

.message {
  position: absolute;
  width: 50%;
  left: 5vh;
  bottom: 10vh;
}